
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="welcome-box">
        <div class="logo-box">
          <img src="../../../assets/img/defaultLogo.jpg" alt="" class="img-fluid">
        </div>
        <div class="box-text">
          <h1>Welcome to You have to Watch</h1>
          <h2>Meet your favorite movie, find your watchers community, and manage yout whatching life.</h2>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="feed-title">
        <h1>
          Updates
        </h1>
      </div>
    </div>
    <div class="col-md-12">
      <div class="post-content">
        <div class="post-little-logo">
          <img src="../../../assets/img/defaultLogo.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>