<div class="lef-content">
  <div class="container">
    <div class="col-md-12">
      <div class="curernt-movie">
        <div class="current-icon">
          <h3>
            <i class="fas fa-film"></i> What are you watching
          </h3>
        </div>
        <form class="form-inline search-current-movie">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search-current-movie-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
      <a href="#">Recomendations</a>
    </div>
    <div class="col-md-12">
      <div class="watching-challenge">
        <div class="watching-title">
          <h3>2019 Watching Challenge</h3>
          <span>Challenge your self to watch more this year!</span>
        </div>
        <div class="img-waching">
          <img src="../../../assets/img/imageDedault.png" alt="" class="img-fluid">
        </div>
        <div class="form-challeng">
          <form>
            <label for="input-challeng-left">I want to watch <input type="text" class="form-control" name="input-challeng-left" id="input-challeng-left"> movies in 2019</label>
            <button class="btn input-challeng-left-btn" type="submit">Start Challeng</button>
          </form>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <div class="want-to-watch">
        <div class="want-title">
          <h3>Want to watch</h3>
        </div>
        <div class="want-content">
          <span>
            <i class="fas fa-couch"></i>
            What do you want to watch next?
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="movie-shel">
        <div class="movie-left-title">
          <h3>MovieShelvie</h3>
        </div>
        <div class="movie-shell-list">
          <ul>
            <li>teste</li>
            <li>teste</li>
            <li>teste</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>