<app-main-header></app-main-header>
<main class="main-app">
    <div class="container">
        <div class="row">
            <section class="col-md-3 left-main-app">
                <app-left-main></app-left-main>
            </section>
            <section class=" col-md-6 main-main-app">
                <app-main-feed></app-main-feed>
            </section>
            <section class="col-md-3 right-main-app">
                <app-right-main></app-right-main>
            </section>
        </div>
    </div>
</main>