<header class="sign">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="col-md-3">
        <a class="navbar-brand" routerLink = '/'>
          <img src="{{baseLocation}}/assets/img/logo.png" class = 'img-fluid'alt="">
        </a>
      </div>
      <div class="col-md-2">
       <div class="getting-text">
          <h1>Getting Started</h1>
       </div>
      </div>
      <div class="col-md-7">
        <ul>
          <li class="Set-Goal steps-sign">
            <a routerLink= '/signin/first' routerLinkActive = 'active'>
              Set a Goal <i class="fas fa-caret-right"></i>
            </a>
          </li>  
          <li class="rate-book steps-sign">
            <a routerLink= '/signin/second' routerLinkActive = 'active'>
              Select Categories <i class="fas fa-caret-right"></i>
            </a>
          </li> 
          <li class="rate-book steps-sign">
              <a routerLink= '/signin/thrid' routerLinkActive = 'active'>
                Rate Movies <i class="fas fa-caret-right"></i>
              </a>
            </li> 
          <li class="finish steps-sign">
            <a routerLink= '/signin/last' routerLinkActive = 'active'>
              Finish <i class="fas fa-flag-checkered"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>