<section class="middle-home">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6  ">
            <div class="what-to-watch">
              <span>Deciding what to watch next?</span>
              <p>
                You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
              </p>
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="what-to-watch">
              <span>What are your friends reading?</span>
              <p>
                Chances are your friends are discussing their favorite (and least favorite) books on Goodreads.
              </p>
            </div>
          </div>
          <div class="col-md-12  ">
            <div class="what-you-discover">
              <span>What world will you discover?</span>
              <small>Because Christian liked</small>
              <div class="movie-discover">
                
              </div>
              <div class="result-discovery">
                
              </div>
            </div>
          </div>
          <div class="col-md-12  ">
            <div class="what-you-discover">
              <span>What world will you discover?</span>
              <small>Because Christian liked</small>
              <div class="movie-discover">
                
              </div>
              <div class="result-discovery">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3  ">
        <div class="love-list">
          <h2>Love lists?</h2>
        </div>
      </div>
    </div>
  </div>
</section>