/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Marvel:400,700,700i');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

$bgColor: #20262b;
$fgColor:#c62b29;
$headerFooterColor:#1c2125;
$white:#ffffff;
$greyPallete:#d0edee;
$bluePallete:#2e666e;

body{
    font-family: 'Marvel', sans-serif;
    background-color: $bgColor;
}
header, footer{
    background-color: $headerFooterColor;
}
h1, h2, h3, span, p,small{
    font-family: 'Marvel', sans-serif;
    color:$greyPallete;
}
a{
    color: $fgColor;
}
button:hover{
    opacity: 0.8;
}
a:hover{
    opacity: 0.8;
    color: $fgColor;
}
button.btn.btn-primary{
    background-color:   $bluePallete;
    border: 1px solid $bluePallete;     
}
header.header {
    border-bottom: 1px solid $greyPallete;
}
.row.header-row {
    margin-top: 20px;
    margin-bottom: 20px;
    form.form-login-header {
        width: fit-content;
        float: right;
    }
    .form-group {
        display: inline-block;
        margin: 0;
    }
    button.btn.btn-primary {
        float: right;
    }
    .form-login-header .form-group input[type=email]{
        margin: 0;
    }
    .form-login-header .form-group input {
        width: 230px;
        float: left;
        margin: 0px 10px;
    }
    .form-group.form-check.forgot {
        display: block;
        color: white;
        margin: 0;
        padding: 0;
        input#Remember-me {
            width: fit-content;
            margin: 6px;
        }
        a#forgot-link {
            float: right;
        }
    }
}
section.banner-home{
    background-image: url('./assets/img/bg-home.jpg');
    padding: 20px 0 50px 0;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    h1#meet-home {
        text-align: center;
        font-size: 72pt;
        position: absolute;
        right: 0;
        left: 0;
        top: 5%;
        font-weight: 900;
        border: 1px solid $greyPallete;
    }
    form.form-home-singin{
        margin-bottom: 25px;
        .form-group{
            margin-bottom: 5px;
        }
        small#small-terms {
            float: right;
            width: 75%;
        }
    }
    .another-way-to-sing {
        position: absolute;
        padding: 8px 15px;
        background:$bgColor;
        bottom: -50px;
        font-size: 14pt;
        a.options {
            padding: 0 10px;
        }
    }
    h3{
        font-weight: 600;
        font-size: 22pt;
    }
}
section.middle-home {
    .bg-discobery {
        background-image:linear-gradient(#20262b,#22262b,#282528, #c72724);
        padding: 15px 0;
        border-radius: 5px;
    }
    margin: 15px 0;
    .what-to-watch {
        border: 1px solid #d0edee;
        padding: 10px;
        span{
            font-size: 18pt
        }
        p{
            font-size: 13pt;
        }
    }
    .what-you-discover {
        display: inline-block;
        
        
        small{
            display: inline-block;
            width: 100%;
        }
        .movie-discover{
            width: 78%;
            float: left;
        }
        .img-home-discovery{
            margin-right: 1%;
            img{
                width: 24%;
            }
        }
    }
    .arrow-result {
        width: fit-content;
        float: left;
        margin: 8% 0;
        margin-right: 1%;
    }
    .result-discovery{
        width: 19%;
        float: left;
        position: relative;
        small{
            position: absolute;
            top: -20px;
        }
    }
    .content-love {
        margin: 0 0 13px 0;
        .movie-img{
            width: 100%;
            a {
                width: 20%;
                img{
                    width: 24%;
                    margin: 0 0.5%;
                }
            }
        }
    }
    
    
}
section.search-home{
    .ramdom-splash {
        text-align: center;
    }
    .search-area{
        form.form-home-search{
            position: relative;
            width: 45%;
            button.search-btn {
                position: absolute;
                top: 3px;
                right: 5px;
                font-size: 16pt;
                background: transparent;
                border: none;
            }
        }
        .genders-movie, .cast-movie {
            width: 50%;
            float: left;
            ul {
                padding: 0px;
                column-count: 2;
            }
        }
    }
    .ramdom-splash{
        .movie-content .movie-img {
            margin: 0 auto;
            img{
                width: 60%;
            }
        }
        
    }
}
section.best-movies {
    margin: 30px 0;
    .best-movie-section{
        ul{
            padding: 0px;
            column-count: 2;
        }
    }
}
footer.footer-home{
    padding: 25px 0;
    ul{
        list-style: none;
    }
    ul.social-media {
        list-style: none;
        display: inline-block;
        padding: 0;
        li{
            display: inline-block;
            background-color: $bluePallete;
            border-radius: 50%;
            margin: 0 5px;
            width: 40px;
            height: 40px;
            font-size: 15pt;
            a{
                padding: 10px;
                position: relative;
                top: 5px;
                left: 3px;
            }
        }
    }
}
@media only screen and (max-width:768px){
    section.banner-home{
        background-image: url('./assets/img/bg-mobile.jpg');
    }
    .row.header-row .form-login-header .form-group input {
        width: 100%;
    }
    section.banner-home h1#meet-home {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    section.banner-home form.form-home-singin {
        margin-bottom: 20px;
    }
    section.banner-home .another-way-to-sing {
        position: relative;
        padding: 8px 15%;
    }
    .what-you-discover {
        margin: 15px 0;
    }
    section.search-home .search-area form.form-home-search {
        width: 100%;
    }
    .row.header-row button.btn.btn-primary {
        float: unset;
    }
    .row.header-row .form-group.form-check.forgot a#forgot-link {
        float: left;
        margin: 0 20px 0px 0;
    }
}
header.sign{
    ul{
        margin: 0;
        padding: 0;
    }
    .getting-text{
        text-align: center;
        h1{
            font-size: 21pt;
        }
    }
    .steps-sign {
        width: 25%;
        display: inline-block;
        a{
            color: $greyPallete;
            padding: 10px 30px;
            font-size: 13pt;
            background-color: $bgColor;
            position: relative;
            i{
                position: absolute;
                font-size: 50pt;
                right: -12px;
                z-index: 9999;
                top: -12px;
                color: $bgColor;
            }
        }
        a.active{
            background-color: $fgColor;
            
            i{
                color: $fgColor;
            }
        }
        
    }
    .finish.steps-sign{
        i{
            font-size: 14pt;
            color: white !important;
            right: 0;
            top: 0;
            position: relative;
        }
    }
    
}
section.first-step{
    .title-first-step{
        text-align: center;
        margin: 10px 0;
        h1{
            margin: 0;
            font-size: 30pt;
        }
    }
    .challeng-txt{
        text-align: center;
        p{
            margin: 5px 0;
            font-size: 14pt;
        }
    }
    .box {
        width: 70%;
        margin: 15px auto;
        text-align: center;
        border: 1px solid white;
        padding: 25px;
        form.form-step-one{
            margin: 15% 0;
            input{
                width: 80px;
                display: inline-block;
            }
            .btn-first-step{
                margin: 0 auto;
                width: 100%;
                text-align: center;
                button{
                    background-color: $bluePallete;
                    color: white;
                    padding: 10px 30px;
                    width: 40%;
                    
                }
            }
        }
        
        
    }
}
section.second-step-signin{
    margin: 15px 0;
    .text-second-step{
        text-align: center;
        h1{
            margin: 0;
            font-size: 30pt;
        }
        h3 {
            background-color: $bluePallete;
            font-size: 19pt;
            padding: 10px;
            margin: 10px 20px;
        }
    }
    .categories-section{
        border: 1px solid white;
        ul{
            column-count: 4;
            padding: 0px;
            list-style: none;
            margin: 0;
            li.categorie-item{
                width: 90%;
                padding: 5px 10px;
                background-color: $bluePallete;
                margin: 10px 10px;
                border-radius: 5px;
                display: inline-block;
                label{
                    color:white;
                    padding-left: 5px;
                    margin: 0;
                    font-size: 13pt;
                    width: 80%;
                }
            }
            li.categorie-item:hover{
                opacity: 0.8;
            }
        }
    }
    .btn-second-step{
        text-align: center;
        margin: 10px;
        button{
            color: white;
            background-color: $fgColor;
        }
    }
}
section.rate-movies{
    background-color: $bluePallete;
    margin: 15px 0;
    .rated-range{
        margin: 10% 0;
        .rated-txt{
            font-size: 15pt;
            text-align: center;
        }
        .progress-bar{
            background-color: $bgColor;
        }
    }
    .rate-title {
        text-align: center;
        h1{
            font-size: 36pt;
        }
        p{
            margin: 0;
            font-size: 15pt;
        }
    }
    .finish-btn {
        margin: 15% 17%;
        font-size: 20pt;
    }
}
main.main-thrid-step{
    margin: 15px;
    .side-bar-thrid-step{
        background-color: $headerFooterColor;
        padding: 20px 10px;
        form.searchSidebar {
            position: relative;
            .btn-side-form{
                position: absolute;
                background-color: transparent;
                top: 1px;
                right: 0;
                i{
                    color:$bgColor;
                }
            }
        }
        .favorites-categories,
        .more-categories{
            ul{
                padding: 0;
                list-style: none;
                li{
                    font-size: 15pt;
                    button{
                        background-color: transparent;
                        color: $fgColor;
                        border: none;
                    }
                }
            }
        }
    }
    .grid-movies{
        text-align: center;
        .grid-20-persent{
            width: 20%;
            float: left;
            padding: 5px;
            position: relative;
            h1{
                font-size: 15pt
            }
            h2{
                font-size: 11pt;
            }
            .movie-desc{
                position: relative;
                .btn-position{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    button{
                        background-color: $fgColor;
                        color: white;
                    }
                    .title-add{
                        background-color: $headerFooterColor;
                        border: 1px solid $fgColor;
                    }
                }
                
            }
        }
    }
}
section.last-step{
    margin: 15px 0;
    .btn-lett-me-in{
        text-align: center;
        margin: 15% 0;
        
        button{
            background-color: $fgColor;
            color:white;
            font-size: 15pt;
        }
    }
}
header.main-header{    
    ul{
        margin: 0 auto;
        width: 100%;
        li{
            width: 33%;
            text-align: center;
            margin: 0px 5px;
            a{
                font-size: 12pt;
            }
        }
        .menu-link-header{
            background-color: $bluePallete;
            color:white;
        }
        .menu-link-header.active{
            background-color: $fgColor;
            color:white;
        }
    }    
    .search-header{
        position: relative;
        input{
            width: 100%;
        }
        .search-header-btn{
            position: absolute;
            right: 10px;
            bottom: -1px;
        }
    }
    .right-option-header{
        width: 100%;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li.option-header{
                color:$fgColor;
                display: inline-block;
                width: fit-content;
                margin: 0 5%;
                
            }
        }
    }
}
main.main-app {
    margin: 15px 0;
    .main-content{
        .welcome-box{
            text-align: center;
            border: 1px solid white;
            padding: 15px;
            .logo-box{
                img{
                    height: 70px;
                }
            }
            .box-text{
                h1{
                    font-size: 20pt;
                }
                h2{
                    font-size: 14pt;
                }
            }
        }
    }
}