<section class="search-home random-movie">
  <div class="container">
    <div class="row">
      <div class="col-md-9  ">
        <div class="search-area">
            <h1>Search a movie</h1>
            <form class="form-home-search" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="search-home" aria-describedby="SearchHelp" placeholder="Movie / Cast / Director">
                </div>
                <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </form>

            <div class="genders-movie">
              <a href="#">Action</a>
            </div>
            <div class="cast-movie">
                <a href="#">Samuel L. Jackson</a>
              </div>
        </div>
      </div>
      <div class="col-md-3  ">
        <div class="ramdom-splash">
          <div class="movie-content">
            <div class="movie-img">
              <img src="" alt="">
            </div>
            <h1 class="h1">Spider-man</h1>
            <p class="movie-spec">TwipTwipTwipTwip</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
