<section class="search-home random-movie">
  <div class="container">
    <div class="row">
      <div class="col-md-9  ">
        <div class="search-area">
            <h1>Search a movie</h1>
            <form class="form-home-search" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="search-home" aria-describedby="SearchHelp" placeholder="Movie / Cast / Director">
                </div>
                <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
            </form>

            <div class="genders-movie" >
              <ul>
                <li *ngFor="let Categ of arrayCateg">
                  <a href="#">{{Categ?.categorie}}</a>
                </li>
              </ul>
            </div>
            <div class="cast-movie">
              <ul>
                <li *ngFor="let actor of arrayActor">
                  <a href="#">{{actor?.name}}</a>
                </li>
              </ul>
              </div>
        </div>
      </div>
      <div class="col-md-3  ">
        <div class="ramdom-splash">
          <h1>Random Movie</h1>
          <div class="movie-content">
            <div class="movie-img">
             <a href="#">
              <img class="img-fluid" src="../../../../assets/img/imageDedault.png" alt="{{randomMovie?.title}}">
             </a>
            </div>
            <h2 class="h2">{{randomMovie?.title}}</h2>
            <p class="movie-spec">{{randomMovie?.release_year}} - {{randomMovie?.category_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
